/** This is the CSS page for our website. */

/* .a {
    color: #008998;
    text-decoration: none;
    transition: color 0.25s;
} */

/* .body #headerWrapper {
    background: #FFF;
    padding: 0 0 2px;
}

.body #headerWrapper #navAddressWrapper {
    background: #00338E;
    border: 0;
    border-bottom: 1 px solid;
    border-top: 1 px solid;
}

.body #navAddressWrapper #navAddress address {
    background: #001A4B;
    float: right;
} */

/* .div {
    display: block;
} */

.center {
    margin: auto;
    width: 60%;
	padding: 10px;
    text-align: center;  
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #001A4B;
    justify-content: flex-end;
}

.icon-container > div {
    background-color: transparent;
    width: auto;
    margin: 10px;
}