/** This is the CSS page for our website. */

/*CSS for logo at top left of page*/

.header-logo {
	display: inline-block;
	vertical-align: middle;
	width: 9%;
}

.header-logo img {
	height: auto;
	width: 100%;
  }
/*End of CSS for logo at top left of page*/

/*CSS for top right donate button*/
.donate-button {
  position: absolute;
  top: 0;
  right: 0;
}

.donate-button {
  background-color: #269CE9;
  border-color: #269CE9;
}

.donate-button {
  color: #f2f2f2
}

.donate-button{
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  user-select: none;
}

.donate-button {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3)), rgba(255,255,255,0);
}

.donate-button {
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.donate-button:hover{
  background-color: #70B9E8;
}

.donate-button:active{
  background: #269CE9;
}

.donate-button{
  border-radius: 6px;
  margin: 3px 4px 5px;
  height: 50px;
  padding: 4px 1.5em 4px 2em;
}
/* End of CSS for top right donate button*/

.navbar {
	overflow: hidden;
	/* background-color: #001A4B; */
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	}
	
.navbar a {
float: left;
font-size: 16px;
color:#001A4B;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
cursor: pointer;
font-size: 16px;  
border: none;
outline: none;
color: white;
/* padding: 10px 15px; Moves dropdown content over - so I can make it more centered*/
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn {
background-color: #70B9E8;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* .show {
display: block;
} */

/*CSS for second donate button on "Support the Center" page*/
/* .donate-button-2 {
	position: absolute;
	top: 0;
	right: 0;
  } */
  
  .donate-button-2 {
	background-color: #269CE9;
	border-color: #269CE9;
  }
  
  .donate-button-2 {
	color: #f2f2f2
  }
  
  .donate-button-2 {
	box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
	user-select: none;
  }
  
  .donate-button-2 {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3)), rgba(255,255,255,0);
  }
  
  .donate-button-2 {
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
  
  .donate-button-2:hover{
	background-color: #70B9E8;
  }
  
  .donate-button-2:active{
	background: #269CE9;
  }
  
  .donate-button-2 {
	border-radius: 6px;
	margin: 3px 4px 5px;
	height: 50px;
	padding: 4px 1.5em 4px 2em;
  }

/*End of CSS for second donate button on "Support the Center" page*/

.icon-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #001A4B;
  justify-content: flex-end;
}

.icon-container > div {
  background-color: transparent;
  width: auto;
  margin: 10px;
}

/* Wraps location information in a box*/
* {
box-sizing: border-box;
}

/* This is the slideshow container */
.slideshow {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide images by default */
.mySlides {
display: none;
width: 100%;
height: auto;
}

.img {
vertical-align: middle;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 5s;
animation-name: fade;
animation-duration: 5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

iframe {
margin: auto;
width: 40%;
padding: 10px;
display: block;
}

.support-text {
text-align: center;
}

.center-imgs {
display: block;
margin-left: auto;
margin-right: auto;
width: 275px;
height: 225px;
}

.header-3 {
text-align: center;
}

.other-locations {
text-align: center;
}

.body > footer > .leftFooter {
float: left;
width: 75%;
}

.body > .location1 > .location2 {
	box-sizing: border-box;
}

.location1 {
float: left;
margin-bottom: 10px;
padding-left: 100px;
}

.left {
width: 50%;
}

.location2 {
float: right;
margin-bottom: 10px;
padding-left: 75px;
}

.right {
width: 50%;
}

.location-imgs {
margin: 10px auto 20px;
display: block;
}

.row-1 > .column-1 {
box-sizing: border-box;
}

.row-2 > .column-2 {
box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-1 {
float: left;
width: 25%;
padding: 10px;
}

/* Create two equal columns that floats next to each other */
.column-2 {
float: left;
width: 25%;
padding: 10px;
}

/* Clear floats after the columns */
.row-1:after {
content: "";
display: table;
clear: both;
}

/* Clear floats after the columns */
.row-2:after {
content: "";
display: table;
clear: both;
}

.hours-container {
background-color: rgb(215, 255, 248);
}

/* CSS for contact us form */
:root{
    --font-color:#555;
    --font-hover-color:orange;
}

.body-info{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	font-family:"Raleway", sans-serif;
	background-color:#269CE9;
}
  
  .container{
	width:500px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	padding:2em;
	background-color:#fff;
  }

.form-group{
    margin-bottom:1.5em;
    transition:all .3s;
}
.form-label{
    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);
}
.form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
    transition:all .6s;
}
.form-control::placeholder{
    color:#aaa;
}
.form-control:focus{
    box-shadow:none;
    border-color:var(--font-hover-color);
    outline:none;
}
.form-group:focus-within{
    transform:scale(1.1,1.1);
}

.form-control:invalid:focus{
    border-color:red;
}

.form-control:valid:focus{
    border-color:green;
}

.btn{
    background: 0 0 #fff;
    border:1px solid #aaa;
    border-radius:3px;
    color:var(--font-color);
    font-size:1em;
    padding:10 50px;
    text-transform:uppercase;
}

.btn:hover{
    border-color:var(--font-hover-color);
    color:var(--font-hover-color);
}

textarea{
    resize:none;
}

.focused > .form-label{
	opacity:1;
	transform:translateX(0px);
  }
/* End of CSS for Contact Us form*/

/*Resource Info*/
.titlePage {
  text-align:left;
  font-size: 30px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #009999;
}

.subHeading {
  text-align:center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1e5477;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
  font-style: italic;
}

.subHeadings{
  text-align: left;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1e5477;
  margin-left: 40px;
  margin-right: 40px;
}

#YouTube-Partner {
  width: 50%;
  display: block;
  align-content: left;
  padding: 10px;

}

#p1{
  margin-left: 40px;
  margin-right: 40px;
  font-family: bold;
  text-align: center;
  font-size: 20px;
}

#specialMessage{
  color: navy;
  font-style: italic;
  text-align: center;
}

p{
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 15px;
  font-size: 20px;   
}

#library{
  float: right;
  padding: 40px;
  margin-top: -15px;

}
li{
  font-size: 20px;
  margin-left:60px ;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 30px;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
  padding: 30px;
}
#logo {
  padding-right: 130px;
  float: right;
}

#paragraphHeading {
  padding-top: 60px;
}

.rowBooks::after {
  content: "";
  clear: both;
  display: table;
}

.centerImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.button {
  position: absolute;
  left: 30%;
  border: none;
  color: white;
  padding: 25px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:#1e5477; 
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bod-center {
  text-align: center;
}

.members-center {
  text-align: center;
}

.report-center {
  text-align: center;
}

.report-container-1 {
  text-align: center;
}

.report-container-2 {
  text-align: center;
}

.report-container-3 {
  text-align: center;
}

/* CSS for Staff.html page */

/* Centers text above staff images */
.staff-text {
	text-align: center;
  }
  
  /* Centers first photo*/
  .staff-photos-1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  /* Centers second row of photos*/
  /* .staff-photos-2 {
	display: block;
  
  } */
  
  /* Centers third row of photos*/
  /* .staff-photos-3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
  } */
  
  /* Centers text underneath first photo*/
  .staff-text-1 {
	text-align: center;
  }
  
  /* .staff-container {
	  display: flex;
	  justify-content: space-between;
	  padding: 5px;
  }
  
  .staff-container-2 {
	display: flex;
	justify-content: space-between;
	padding: 5px;
  } */
  
  .Row {
	  display: table;
	  width: 100%; /*Optional*/
	  table-layout: fixed; /*Optional*/
	  border-spacing: 10px; /*Optional*/
	  text-align: center;
  }
  
  .Row-2 {
	  display: table;
	  width: 100%; /*Optional*/
	  table-layout: fixed; /*Optional*/
	  border-spacing: 10px; /*Optional*/
	  text-align: center;
  }
  
  .staff-text-2 {
	  display: table-cell;
	  text-align: center;
  }
  
  .staff-text-2-1 {
	  display: table-cell;
	  width: 15%; /*Optional*/
	  table-layout: fixed; /*Optional*/
	  border-spacing: 10px; /*Optional*/
	  text-align: center;
  }
  
  .staff-text-2-2 {
	  display: table-cell;
	  text-align: center;
  }
  
  .staff-text-3 {
	  display: table-cell;
	  text-align: center;
  }
  
  .staff-text-3-1 {
	  display: table-cell;
	  width: 5%; /*Optional*/
	  table-layout: fixed; /*Optional*/
	  border-spacing: 5px; /*Optional*/
	  text-align: center;
  }
  
  .staff-text-3-2 {
	  display: table-cell;
	  text-align: center;
  }
  
  /* Centers text underneath staff photos (all text that doesn't have staff photos)*/
  .staff-text-other {
	text-align: center;
  }
  /* End of CSS for staff.html page */

  /* CSS for volunteer.html page */
  .volunteer-text {
	text-align: center;
  }
  
  .volunteer-text-2 {
	text-align: center;
  }
  
  .volunteer-text-3 {
	text-align: center;
  }
  
  .volunteer-text-4 {
	text-align: center;
  }
  
  .volunteer-images {
	text-align: center;
  }
/* End of CSS for volunteer.html page */
  

.news-text {
  text-align: center;
}

.ancillary-text {
  text-align: center;
}

.contact-text {
  text-align: center;
}

.contact-text-2 {
	text-align: center;
}

.contact-text-3 {
	text-align: center;
}

.contact-text-4 {
	text-align: center;
}

/* CSS for participant form 1 */
.participant-form-section-1{
	max-width: 600px;
	background: #FAFAFA;
	padding: 50px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.participant-form-section-1 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.participant-form-section-1 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.participant-form-section-1 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.participant-form-section-1 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.participant-form-section-1 ul li .field-split{
	width: 49%;
}
.participant-form-section-1 ul li .field-full{
	width: 100%;
}
.participant-form-section-1 ul li input.align-left{
	float:left;
}
.participant-form-section-1 ul li input.align-right{
	float:right;
}
.participant-form-section-1 ul li textarea{
	width: 100%;
	height: 100px;
}
.participant-form-section-1 ul li input[type="button"], 
.participant-form-section-1 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.participant-form-section-1 ul li input[type="button"]:hover, 
.participant-form-section-1 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
/* End of CSS for participant form 1*/

/* CSS for registration form 1 */
.volunteer-form-section-1{
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-1 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-1 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-1 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-1 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-1 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-1 ul li .field-full{
	width: 100%;
}
.volunteer-form-section-1 ul li input.align-left{
	float:left;
}
.volunteer-form-section-1 ul li input.align-right{
	float:right;
}
.volunteer-form-section-1 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-1 ul li input[type="button"], 
.volunteer-form-section-1 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-1 ul li input[type="button"]:hover, 
.volunteer-form-section-1 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/* CSS for checkboxes on registration form 1*/
.interest-checkboxes {
    -webkit-column-count: 4;
    -moz-column-count: 3;
    column-count: 2;
}

/* CSS for registration form 2 */
.volunteer-form-section-2{
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-2 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-2 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-2 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-2 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-2 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-2 ul li .field-full{
	width: 100%;
}
.volunteer-form-section-2 ul li input.align-left{
	float:left;
}
.volunteer-form-section-2 ul li input.align-right{
	float:right;
}
.volunteer-form-section-2 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-2 ul li input[type="button"], 
.volunteer-form-section-2 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-2 ul li input[type="button"]:hover, 
.volunteer-form-section-2 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/* CSS for checkboxes on registration form 2*/
.availability-checkboxes {
	-webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 3;
}

.volunteer-form-section-2 .availability-checkboxes li {
    display:inline-block;
    width:33.3333%;
}

/* CSS for registration form 3 */
.volunteer-form-section-3{
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-3 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-3 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-3 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-3 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-3 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-3 ul li .field-full{
	width: 100%;
}
.volunteer-form-section-3 ul li input.align-left{
	float:left;
}
.volunteer-form-section-3 ul li input.align-right{
	float:right;
}
.volunteer-form-section-3 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-3 ul li input[type="button"], 
.volunteer-form-section-3 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-3 ul li input[type="button"]:hover, 
.volunteer-form-section-3 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/* CSS for registration form 4 */
.volunteer-form-section-4{
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-4 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-4 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-4 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-4 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-4 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-4 ul li .field-full{
	width: 100%;
}
.volunteer-form-section-4 ul li input.align-left{
	float:left;
}
.volunteer-form-section-4 ul li input.align-right{
	float:right;
}
.volunteer-form-section-4 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-4 ul li input[type="button"], 
.volunteer-form-section-4 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-4 ul li input[type="button"]:hover, 
.volunteer-form-section-4 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/* CSS for registration form 5 */
.volunteer-form-section-5 {
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-5 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-5 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-5 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-5 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-5 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-5 ul li .field-full{
	width: 100%;
}
.volunteer-form-section-5 ul li input.align-left{
	float:left;
}
.volunteer-form-section-5 ul li input.align-right{
	float:right;
}
.volunteer-form-section-5 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-5 ul li input[type="button"], 
.volunteer-form-section-5 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-5 ul li input[type="button"]:hover, 
.volunteer-form-section-5 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/* CSS for registration form 6 */
.volunteer-form-section-6 {
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-6 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-6 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-6 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-6 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-6 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-6 ul li .field-full{
	width: 100%;
}

.volunteer-form-section-6 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-6 ul li input[type="button"], 
.volunteer-form-section-6 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-6 ul li input[type="button"]:hover, 
.volunteer-form-section-6 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

.volunteer-form-section-7 {
	max-width: 800px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.volunteer-form-section-7 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.volunteer-form-section-7 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.volunteer-form-section-7 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.volunteer-form-section-7 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.volunteer-form-section-7 ul li .field-split{
	width: 49%;
}
.volunteer-form-section-7 ul li .field-full{
	width: 100%;
}

.volunteer-form-section-7 ul li textarea{
	width: 100%;
	height: 100px;
}
.volunteer-form-section-7 ul li input[type="button"], 
.volunteer-form-section-7 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.volunteer-form-section-7 ul li input[type="button"]:hover, 
.volunteer-form-section-7 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

.volunteer-form-end-text {
  text-align: center;
}

.info-and-resource-text {
	text-align: center;
}

.book-lady {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-the-center-text {
	text-align: center;
}

.support-the-center-text {
	text-align: center;
}

.special-events-text {
	text-align: center;
}

.family-and-children-text {
	text-align: center;
}

.family-and-children-text-2 {
	text-align: center;
}

.fitness-physical-wellness-text {
	text-align: center;
}

.fitness-physical-wellness-text-2 {
	text-align: center;
}

.body-image-text {
	text-align: center;
}

.body-image-text-2 {
	text-align: center;
}

.nutrition-diet-text {
	text-align: center;
}

.nutrition-popup-recipes-text {
	text-align: center;
}

.newsletters-text {
	align-items: center;
}
